{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Cart - Endeavor
{% endblock %}

{% block content %}
  {% if not cart_items %}
  <div class="text-center">
    <br>
    <h1 class='text-center product_title'>
      Your shopping cart is empty
    </h1>
    <p class="text-center">
      Please click <a href="{% url 'home' %}">here</a> to continue Shopping
    </p>
  </div>
  {% else %}
<div class="text-center">
  <br>
  <div class="text-center product_title">
    Your Shopping Cart
  </div>
</div>
<div class="row mx-auto">
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
    <table class="table cart_table">
      <thead class="cart_thead">
        <tr>
          <th colspan="4">
            Your Items
          </th>
        </tr>
      </thead>
      {% for cart_item in cart_items %}
        <tr>
          <td>
            <a href="cart_item.product.get_url">
              <img src="{{cart_item.product.image.url}}" width="100" height="100" alt="">
            </a>
          </td>
          <td class="text-start">
            {{cart_item.product.name}}
            <br>
            Product ID: {{cart_item.product.id}}
            <br>
            Unit Price: UGX{{cart_item.product.price}}
            <br>
            Qty: {{cart_item.quantity}} x {{cart_item.product.price}}
          </td>
          <td>
            {{cart_item.sub_total}} UGX
          </td>
          {% if cart_item.quantity < cart_item.product.stock %}
          <td>
            &nbsp;<a href="{% url 'add_cart' cart_item.product.id %}"><i class="fas fa-plus-circle"></i></a>
            &nbsp;<a href="{% url 'cart_remove' cart_item.product.id %}"><i class="fas fa-minus-circle cart_icon"></i></a>
            &nbsp;<a href="{% url 'cart_remove_product' cart_item.product.id %}"><i class="fas fa-trash-alt cart_icon"></i></a>
          </td>
          {% else %}
          <td>
            &nbsp;<a href="{% url 'cart_remove' cart_item.product.id %}"><i class="fas fa-minus-circle cart_icon"></i></a>
            &nbsp;<a href="{% url 'cart_remove_product' cart_item.product.id %}"><i class="fas fa-trash-alt cart_icon"></i></a>
          </td>
          {% endif %}
        </tr>
      {% endfor %}

    </table>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
    <table class="table cart_table">
      <thead class="cart_thead">
        <tr>
          <th colspan="4">
            Check Out
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Please review your cart items before payment
          </td>
        </tr>
        <tr>
          <td class="text-start">
            Your total is: <strong>{{total}}</strong> UGX
          </td>
        </tr>
     </tbody>
    </table>
    <div class="d-grid gap-2">
      <form method="post">
        {% csrf_token %}
        {{ payment_form | crispy }}
        <div class="">
          <div class="row">
            <h6>Click <b>BUY</b> and approve payment on your phone.
                Do not leave page while Payment is in progress. Wait to be redirected to the success page.
              </h6>
          </div>
          <div class="row">
            <div class="col d-grid gap-2">
              <p></p>
              <input type="submit"  value="BUY" class="btn btn-lg btn-block btn btn-success text-light">
            </div>
            <div class="col d-grid gap-2">
              <p></p>
              <a href="{% url 'home' %}"style="text-decoration:none;">
                <button type="button" class="btn btn-lg btn-block bg-dark text-white">
                  Continue Shopping
                </button>
              </a>
            </div>
          </div>
        </div>
      </form>
      <p></p>
      <h6>You may proceed to buy your items without a <b>user account</b>.
          It is better however to create one so as to have a record of your
          <b>Purchase History</b>. <a href="{% url 'signup' %}"<b>Sign Up</b></a> or <a href="{% url 'signin' %}"<b>Login</b></a>.
      </h6>
    </div>
  </div>
</div>
 {% endif %}
{% endblock %}
