{% extends 'base.html' %}
{% load static %}
{% block title %}
Order History - Endeavor
{% endblock %}

{% block content %}
  <div class="text-center">
    <br>
    <h1 class="tex-center product_title">
      Order History
    </h1>
    <br>
  {% if order_details %}
    <table class="table table-stripped">
      <thead>
        <tr>
          <th>Order Number</th>
          <th>Order Date</th>
          <th>Total Amount</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for order in order_details %}
          <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.created|date:"d M Y" }}</td>
            <td>{{ order.total }}</td>
            <td><i class="fas fa-check"></i>&nbsp;Complete</td>
            <td><a href="{% url 'order_detail' order.id %}">View Order></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>You have not placed any orders yet.
      <br><br>
      <a href="{% url 'home' %}" class="btn btn-secondary">Continue Shopping</a>
    </p>
  {% endif %}
 </div>
 <br><br>

{% endblock %}
